@media (max-width:767px){
    .project {
        padding: 20px;
        display: grid;
        place-items: center;
        height: 180px !important;
    }
    .project p {
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
    }
}